.f-container{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0rem;
}

.f-middle>:nth-child(1){
    cursor: pointer;
}


.f-middle>:nth-child(3){
    cursor: pointer;
}

.f-middle>:nth-child(2){
    color: white;
    position: relative;
}

.f-middle>:nth-child(2)>select{
    position: absolute;
    /* right: 60%; */
    bottom: 70%;
    color: white;
    width: 100%;
    border: none; 
    outline: none;
    appearance: none;
    background-color: transparent; 
    cursor: pointer;
    text-align: center;
}

.f-middle>:nth-child(2)>select>option{
    text-align: center;
    background: #cd3f97;
}