@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Short+Stack&display=swap');

:root{
  --gray: #cccccc;
  --blue-green: #25a3a1;
  --blue-border: #98f4f2;
  --pink: #fe6784;
  --pink-border: #FFAEBE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Short Stack", cursive;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

.flexAC{
  display: flex;
  align-items: center;
}

.flexCol{
  display: flex;
  flex-direction: column;
}

.flex{
  display: flex;
}

.paddings{
  padding: 0 6rem 0 6rem;
}

.primaryText{
  font-size: 2rem;
}

.secondaryText{
  font-size: 1.25rem;
}

.smallText{
  font-size: 1rem;
}

.green-box{
  min-height: 5rem;
  padding-left: 1rem;
  border: 3.31px dashed var(--blue-border);
  color: white;
  border-radius: 10px;
  background: var(--blue-green);
  align-items: center;
}

.pink-box{
  min-height: 5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 3.31px dashed var(--pink-border);
  border-radius: 10px;
  background: var(--pink);
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}
.banner{
  /* justify-content: center; */
  align-items: center;
  padding: 0 1.75rem 0 2rem;
  background: url(/banner.png);
  min-height: 5rem;
  background-repeat: no-repeat;
  background-size:cover;

}


/* media queries */

@media (max-width: 1200px){
  .paddings{
      padding: 0 4rem 0 4rem !important;
  }    
}

@media (min-width: 1550px){
  .paddings{
      padding: 0 7rem 0 7rem !important;
  }    
}

@media (max-width: 995px) {
  .primaryText{
    font-size: 1.5rem;
  }

  .secondaryText{
    font-size: 1rem;
  }

  .smallText{
    font-size: 0.75rem;
  }
}

@media (max-width:700px){
  .green-box>.secondaryText{
    font-size: 0.75rem; 

  }
  .banner>.secondaryText{
    font-size: 0.75rem; 
  }
}